* {
  color: white;
  font-family: "Black Han Sans", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(bg.jpg);
}
body {
  justify-content: start;
}

.HIDDEN {
  display: none;
}
.box {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}
.blu {
  z-index: 1;
  position: absolute;
  background-color: gainsboro;
  opacity: 0.7;
  width: 110%;
  height: 40%;
  filter: blur(1.5rem);
  margin-top: 300px;
}

button {
  background-color: transparent;
  border: none;
}
li {
  display: flex;
  justify-content: space-between;
}
input {
  outline: none;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: black;
}
input:focus {
  outline: none;
}
.infoBox {
  width: 110%;
  display: flex;
  justify-content: center;
}
.toDoUl {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 0;
}
.clockBox {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}
.nameBox {
  font-size: 40px;
  margin-bottom: 20px;
}
input::placeholder {
  color: white;
  font-style: italic;
}
.nameInput {
  border-bottom: solid;
  font-size: 40px;
  text-align: center;
}
.toDoInput {
  border-bottom: solid;
  font-size: 20px;
  text-align: center;
}
